
<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title>US firearm violence incidents</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
  <style>
  body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  h1 {
    font-size: 20px;
    line-height: 30px;
  }

  h2 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: #FFB700;
  }

  #console {
    position: absolute;
    margin: 10px;
    width: 360px;
    background-color: white;
    padding: 10px 20px;
  }

  .session {
    margin-bottom: 20px;
  }

  .row {
    height: 12px;
    width: 100%;
  }

  .colors {
    background: linear-gradient(to right, #FFEDA0, #FED976, #FEB24C, #FD8D3C, #FC4E2A, #E31A1C, #BD0026, #800026);
    margin-bottom: 5px;
  }

  .label {
    width: 11%;
    display: inline-block;
    text-align: center;
  }
  </style>
</head>

<body>
  <div id='map'></div>
  <div id='console'>
    <h1>Firearm violence incidents</h1>
    <p>Data: <a href='http://gun-violence.org/download/'>Firearm violence injuries and death</a> in USA</p>
    <div class='session'>
      <h2>Incidents</h2>
      <div class='row colors'>
      </div>
      <div class='row labels'>
        <div class='label'>0</div>
        <div class='label'>10</div>
        <div class='label'>20</div>
        <div class='label'>50</div>
        <div class='label'>100</div>
        <div class='label'>200</div>
        <div class='label'>500</div>
        <div class='label'>1000+</div>
      </div>
    </div>
    <div class='session'>
      <h2>Hour: <label id='active-hour'>12PM</label></h2>
      <input id='slider' class='row' type='range' min='0' max='23' step='1' value='12' />
    </div>
    <div class='session'>
      <h2>Day of the week</h2>
      <div class='row' id='filters'>
        <input id='all' type='radio' name='toggle' value='all' checked='checked'>
        <label for='all'>All</label>
        <input id='weekday' type='radio' name='toggle' value='weekday'>
        <label for='weekday'>Weekday</label>
        <input id='weekend' type='radio' name='toggle' value='weekend'>
        <label for='weekend'>Weekend</label>
      </div>
    </div>
  </div>
  <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZXhhbXBsZXMiLCJhIjoiY2lqbmpqazdlMDBsdnRva284cWd3bm11byJ9.V6Hg2oYJwMAxeoR9GEzkAA';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v9',
    center: [-107.7938316, 38.9764531],
    zoom: 3.5
  });

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());

  map.on('load', function() {

    var filterHour = ['==', ['number',['get', 'Hour']], 12];
    var filterDay = ['!=', ['string',['get', 'Day']], 'placeholder'];

    // Add a new source from our GeoJSON data and set the
    // 'cluster' option to true. GL-JS will add the point_count property to your source data.
    map.addSource('shootings', {
      type: 'geojson',
      // Point to GeoJSON data.
      data: '/static/shootings2500.geojson',
      cluster: true,
      clusterMaxZoom: 14, // Max zoom to cluster points on
      clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
    });

    map.addLayer({
      id: 'clusters',
      type: 'circle',
      source: 'shootings',
      filter: ['has', 'point_count'],
      paint: {
        'circle-color': [
          'step',
          ['get', 'point_count'],
          '#FFEDA0',
          10,
          '#FED976',
          20,
          '#FEB24C',
          50,
          '#FD8D3C',
          100,
          '#FC4E2A',
          200,
          '#E31A1C',
          500,
          '#BD0026',
          1000,
          '#800026'
        ],
        'circle-radius': [
          'step',
          ['get', 'point_count'],
          20,
          10,
          22.5,
          20,
          25,
          50,
          27.5,
          100,
          30,
          200,
          32.5,
          500,
          35,
          1000,
          37.5
        ],
      }
      <!--,'filter': ['all', filterHour, filterDay]-->
    });

    map.addLayer({
      id: 'cluster-count',
      type: 'symbol',
      source: 'shootings',
      filter: ['has', 'point_count'],
      layout: {
        'text-field': '{point_count_abbreviated}',
        'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
        'text-size': 12
      }
    });

    map.addLayer({
      id: 'unclustered-point',
      type: 'circle',
      source: 'shootings',
      filter: ['!has', 'point_count'],
      paint: {
        'circle-color': '#11b4da',
        'circle-radius': 4,
        'circle-stroke-width': 1,
        'circle-stroke-color': '#fff'
      }
    });

    // update hour filter when the slider is dragged
    document.getElementById('slider').addEventListener('input', function(e) {
      var hour = parseInt(e.target.value);
      // update the map
      filterHour = ['==', ['number', ['get', 'Hour']], hour];
      map.setFilter('collisions', ['all', filterHour, filterDay]);

      // converting 0-23 hour to AMPM format
      var ampm = hour >= 12 ? 'PM' : 'AM';
      var hour12 = hour % 12 ? hour % 12 : 12;

      // update text in the UI
      document.getElementById('active-hour').innerText = hour12 + ampm;
    });

    document.getElementById('filters').addEventListener('change', function(e) {
      var day = e.target.value;
      // update the map filter
      if (day === 'all') {
        filterDay = ['!=', ['string', ['get','Day']], 'placeholder'];
      } else if (day === 'weekday') {
        filterDay = ['match', ['get', 'Day'], ['Sat', 'Sun'], false, true];
      } else if (day === 'weekend') {
        filterDay = ['match', ['get', 'Day'], ['Sat', 'Sun'], true, false];
      } else {
        console.log('error');
      };
      map.setFilter('collisions', ['all', filterHour, filterDay]);
    });

  });
  </script>
</body>

</html>
